{
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "whitespace": [true, "check-module"],
  "arrowParens": "always",
  "operator-linebreak": false
}
